<%- include('./partials/head.ejs') %>

<div class="container">
    <% if(type === 'snippet') { %>
        <% if(snippets.length > 0) { %> 
            <% snippets.forEach(snippet => { %>
                <div>
                    <h3><%= snippet.title %> </h3>
                    <p><a href="/api/body/<%= snippet._id %>"><%= snippet.snippet %></a></p>
                </div>
            <% }); %>
        <% } %> 
    <% } else if(type === 'body') { %>
        <div class="body">
            <p><%= body %></p>
        </div>
        <p></p><a href="/">Volver</a></p>
    <% } else {%> 
        <p>There are no blogs to display...</p>
    <% } %> 
</div>
<%- include('./partials/footer.ejs') %> 

